body {
  margin: 0;
  width: 100%;
}
body #level-grid {
  width: 640px;
  height: 640px;
  border: solid 3px red;
}
body #default-bob {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: black;
}

/*# sourceMappingURL=style.css.map */
